*, ::before, ::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: Raleway, sans-serif;
	background-color:black;
}

.faqh{
	text-align: center;
	padding: 35px 0;
	font-size: 40px;
}

.container-faq{
	width: 70%;
<<<<<<< HEAD
	border-radius:20px;
	max-width:900px;
=======
	/* max-width:900px; */
>>>>>>> 5e4838fb902e4b10e115a906366c899e1a9fa5c3
	min-width:700px;
	background-color: #FFFF;
	height: auto;
	margin: 10px auto 0;
	display:flex;
	flex-direction: column;
	row-gap:20px;
	justify-content:center;
<<<<<<< HEAD
	
=======
>>>>>>> 5e4838fb902e4b10e115a906366c899e1a9fa5c3
	/* align-items : flex-start; */
}

.question {
	/* width:100%; */
	height: auto;
	margin: 5px;
}

.visible-pannel{
	display:flex;
	column-gap: 10px;
	/* justify-content: space-between; */
	align-items: center;
	background: #f1f1f1;
	border-radius: 10px;
	position: relative;
	z-index: 100;
	background-color: #FFFADD;
}

button{
	background-color: #FFFF;
	border-radius: 20px;
}

.visible-pannel h2{
	margin-left: 10px;
	padding:15px 5px;
	font-size: 25px;
}

.visible-pannel img{
	margin-right: 100px;
	width:25px;
	cursor: pointer;
}

.toggle-pannel{
	padding:0px 15px;
	display: none;
	opacity: 0;
	transform: scale(0);
<<<<<<< HEAD
    transition-duration: 0.3s;
=======
    transition-duration: 0.3s;;
>>>>>>> 5e4838fb902e4b10e115a906366c899e1a9fa5c3
}

.toggle-pannel h4{
	font-size:18px;
	padding-bottom:10px;
}

.toggle-pannel p{
	line-height: 1.5;
}