/*MENU DU SITE*/

nav ul{
    list-style-type: none;
    margin: auto; 
     padding: 0;
	width:50%;
}

nav li a{
    color:White;
    padding: 18px ;
    text-decoration: none;
	font-size : 200% ;
}

/*On place les cases les unes à côté des autres afin d'obtenir un menu horizontal.*/
nav li{
    float: left;
}

/*Ici on change la mise en forme de la case quand le curseur passe dessus.*/
nav li a:hover{
	background-size:100%;
    color: white;
}

.cnxn{
	float: right;
	background-color: gold;
}

.deco{
	float: right;
	background-color: gold;
}

/*FIN MENU DU SITE*/