/*MENU DU SITE*/

header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:1rem;
}

header > a {
    flex: 1;
}

nav {
    flex: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/*Ici on change la mise en forme de la case quand le curseur passe dessus.*/
nav li a:hover{
	background-size:100%;
    color: white;
}


#connection {
    color:White;
    padding: 0.4rem ;
    font-size: 1.2rem;
    text-decoration: none;
    background-color:aquamarine;
    border-radius:40px;
    text-align: center;
}



/*FIN MENU DU SITE*/