/*footer*/
footer {
  bottom: 0;
}

footer div{
  position: relative;
  /* position: fixed; */
  background-color: antiquewhite;
  width: 100%;
  /* height: 50%; */
  height: fit-content;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 10px;
  image-rendering: pixelated;
}

footer div h3 {
  padding-top: 10px;
  color:rgb(72, 69, 126);
}

.wut ul{
  display: block;
  margin: 0;
}

footer div ul li{
  width: 110px;
  
  /* height:50px; */
  display:inline-block;
}

i {
  color:black;
  /* background-color: white; */
  /* transform: scale(0.5); */
}

/* #fb{
  width:100px;
} */

#fb, #insta, #tw {
  transition: 0.35s;
}

#fb:hover, #insta:hover, #tw:hover {
  transition: 0.35s;
}

#fb:hover {
  color:rgb(114, 100, 237);
}

#insta:hover {
  color:rgb(237, 0, 245);
}

#tw:hover {
  color:rgb(59, 193, 255);
}

footer div p{
  clear: both;
  color:#FFFFFF;
}

footer div a {
  color:#FFFFFF;
}/*Fin du footer*/
