/*footer*/
footer {
  bottom: 0;
}

footer div{
  padding: 10px;
  position: relative;
  /* position: fixed; */
  width: 100%;
  margin: 10px auto 0 auto;
  border-radius: 10px 10px 0 0;
  /* height: 50%; */
  height: fit-content;
  text-align: center;
  padding-bottom: 10px;
  image-rendering: pixelated;
  background-color: rgba(41, 43, 47);
}

footer div h3 {
  padding-top: 10px;
  color:rgb(72, 69, 126);
}

.wut ul{
  display: block;
}

footer div ul li{
  /* width: 110px; */
  margin: 0 20px;
  /* height:50px; */
  display:inline-block;
}

i {
  color:black;
  /* background-color: white; */
  /* transform: scale(0.5); */
}

/* #fb{
  width:100px;
} */

#fb, #insta, #tw {
  transition: 0.35s;
}

#fb:hover, #insta:hover, #tw:hover {
  transition: 0.35s;
  transform: scale(90%);
  filter: brightness(120%);
}

#fb:active, #insta:active, #tw:active {
  transition: 0.35s;
  filter: brightness(100%);
}

footer div p{
  clear: both;
  color:#FFFFFF;
}

footer div a {
  color:#FFFFFF;
}/*Fin du footer*/
