/*footer*/
footer {
    bottom: 0;
    margin-top: 50px;
    position: relative;
    width: 100%;
    z-index: 98;
}

footer div {
    padding: 10px;
    /* position: relative; */
    width: 95vw;
    margin: 10px auto 0 auto;
    border-radius: 10px 10px 0 0;
    height: max-content;
    text-align: center;
    /* padding-bottom: 10px; */
    image-rendering: pixelated;
    background-color: rgba(20, 20, 20, 0.8);
}

footer div h3 {
    padding-top: 10px;
    color: rgb(72, 69, 126);
}

.wut ul {
    display: block;
}

footer div ul li {
    /* width: 110px; */
    margin: 0 20px;
    /* height:50px; */
    vertical-align: middle;
    display: inline-block;
}

.text-center-p-3 {
    margin: 0;
    padding: 0;
}

.text-dark {
    color: black;
}

/* #fb{
  width:100px;
} */

#fb,
#insta,
#tw {
    transition: transform 0.25s;
}

#fb:hover,
#insta:hover,
#tw:hover {
    transform: rotate(360deg) scale(1.1);
}

#go-top {
    position: fixed;
    bottom: 5px;
    right: 45px;
    z-index: 99;
    cursor: pointer;
    margin: 15px;
    opacity: 60%;
    image-rendering: auto;
    transition: 0.25s;
}

#go-top:hover {
    opacity: 100%;
    transform: scale(1.1);
    transition: 0.25s;
}

@keyframes jiggle {
    0% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

footer div p {
    clear: both;
    color: #ffffff;
}

footer div a {
    color: #ffffff;
}

/*Fin du footer*/
