/* body{
	background: #327DA5;
} */
#case{
	width:400px;
    margin:0 auto;
    margin-top:10%;
}

form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
}

h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
	text-align:center;
}

label {
	width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

input[type=text], input[type=password]{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

h1{
	color:green;
}

input[type=submit]{
	background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}

.erreur{
	color: red;
}

*{
	border-radius: 10px;
}