.map-container {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 80vh; 
    background-color: rgba(20, 20, 20, 0.8); 
    padding: 20px; 
    width: 95vw;
    margin: 20px auto;
    border-radius: 20px;
}

a {
    color: white;
    text-decoration-color: transparent;
    transition: 0.25s;
}

#del:hover, #edit:hover {
    transition: 0.25s;
}

#del:hover {
    text-decoration-color: red;
    color: red;
}

#edit:hover {
    text-decoration-color:#0db6d8d2;
    color: #0db6d8d2;
}