/*MENU DU SITE*/

nav {
    padding: 10px 0;
    margin: 10px auto;
    width: 95vw;
    background-color: rgba(41, 43, 47);
    border-radius: 30px;
    /* box-shadow: 0px 4px 8px black; */
    /* border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; */
}

nav a {
    padding: 5px 15px;
    border: 1.5px solid transparent;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    background-color: #1D7874; /*white;*/
    transition: 0.25s ease;
}

nav ul {
    text-align: center;
    list-style: none;
}

nav li {
    display: inline-block;
    transition: 0.25s;
    margin: 5px 10px;
}

nav a:hover {
    background-color: #2CB5AE;
    transition: 0.25s;
}

nav li:hover {
    transform: scale(0.9);
    /* filter: brightness(0.85); */
    transition: 0.25s;
}

/* nav a:hover {
    border: 1.5px solid black;
    transition: 0.25s;
} */
/*FIN MENU DU SITE*/