
.case1{
  padding-bottom: 25%;
}

.case1 p{
	float:left;
	border: solid;
	color:white;
	font-size: 15px;
	line-height: 4;
}



.page1 {
	background-image: url("../rs/icegif.gif");
	padding-left: 2%;
	/* padding-bottom:; */
	margin-bottom: 2%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr; 
	grid-template-rows: 1fr 1fr 1fr 1fr; 
	gap: 10px 10px;
	grid-template-areas:
	"textc textc pepe pepe"
	"textc textc pepe pepe"
	"textc textc pepe pepe"
	"play play pepe pepe"; 
}

#p1-txt {
	grid-area: textc;
	color: white;
	text-align: center;
	margin-top: 5%;

}

#p1-txt p{
	border-radius: 10px;
	text-align: left;
}


#p1-pepe{
	grid-area: pepe;
	margin-left: 10%;
}

#p1-play{
	grid-area: play;
	background-color: #D64045;
	color: white;
	border-radius: 10px;
	margin-bottom: 10%;
	box-shadow: 0.5px 0.5px 1px 1px rgba(0, 0, 0, 0.7);
	transform: scale(1);
	transition: 0.3s;
}
#p1-play:hover{
	background-color:rgba(214, 64, 69,0.9);
	transform: scale(0.9);
	transition: 0.3s;
}


.page2{
	/* background-image: url("../rs/ice3.png"); */
	padding: 2%;
	display: grid;
	grid-template-columns: 1fr 1fr; 
	grid-template-rows: 0.2fr 1fr 1fr;
	gap: 10px 10px;
	grid-template-areas:
	"title title"
	"who twitter "
	"who twitter ";
}


#p2-title {
	grid-area: title;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
}
#p2-text{
	grid-area: who;
}

.twit {
	grid-area: twitter;
}


.page2{
	margin-left: 4%;
}
.page2 h1,.page2 h3{
    text-shadow:0.5px 0.5px 1px rgba(0, 0, 0, 1);
}
.page2 ul{
	list-style-type:none ;
}

.image{
  width: 20%;
  /* transform: scale(0.2); */
}

.faqcase{
	margin-bottom:3%;
	box-shadow: 1px 1px 1.2px 1.2px rgba(0, 0, 0, 0.7);
	border:solid;
	width:50%;
	border-radius: 10px;

	padding: 5px;
	/* margin-left: 4%; */
}