.center-div {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

table {
    width:100%;
    table-layout: fixed;
}

.tbl-header{
    padding-top: 10px;
    background-color: rgba(255,255,255,0.6);
    background: -webkit-linear-gradient(left, #5F0A87, #A4508B);
    background: linear-gradient(to right, #5F0A87, #A4508B);
    text-align: center;
    border-radius: 10px;
}
.tbl-content{
    /* height:300px; */
    background: -webkit-linear-gradient(left, #5F0A87, #A4508B);
    background: linear-gradient(to right, #5F0A87, #A4508B);
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.6);
}

th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}



.sub-bg {
    /* background-color: rgba(57, 62, 65, 0.7); */

}

.center-div h3,.center-div h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    text-align: center;
}

#log_user{
    background: -webkit-linear-gradient(left, #C2F261, #61F2C2);
    background: linear-gradient(to right, #C2F261, #61F2C2);
}