.particles {
    /* z-index: 2; */
    /* position: relative; */
    /* height: 60%; */
    /* padding: 2%; */
}

#particles-js {
    position: absolute;
    z-index: 1;
    width: 95%;
    height: 95%;
    /* margin-left: 0; */
    /* padding: inherit; */
    /* margin: 2%; */
    /* padding: 2% 2% 0 2%; */
    /* height: 100%; */
}

.logform {
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color: white;
    border: 1px groove black;
    background: #292b2f;
    border-radius: 15px;
    /* height: auto; */
    padding: 2%;
    margin-bottom: 2%;
}

.logform * {
    z-index: 3;
}

label {
    /* width: 38%; */
    text-align: left;
    /* margin: 0 auto; */
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    color: white;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #292b2f;
    background-color: #1c1e21;
    box-sizing: border-box;
    border-radius: 10px;

}

input[type="submit"] {
    background-color: #1d7874;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    transform: scale(1);
    transition-duration: 0.3s;
}

input[type="submit"]:hover {
    background-color: #2cb5ae;
    color: white;
    transform: scale(0.9);
    transition-duration: 0.3s;
    /* border: 1px solid #53af57; */
}

.error {
    text-align: center;
    color: #d64045;
}

.dropdown-form {
    width: 100%;
    text-align: left;
    font-size: larger;
    color: #d64045;
}

@keyframes fade_in_show {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.dropdown-form .dropdown-input {
    width: 50%;
    display: none;
    animation: fade_in_show 0.2s;
}

#edit-username-form:hover .dropdown-input {
    display: block;
}

#edit-password-form:hover .dropdown-input {
    display: block;
}

/* .profile-container {
    width: 100%;
}

.profile-container ul {
    display: inline-block;
}

.profile-container img {
    display: inline-block;
    max-width: 100px;
    height: auto;
    margin-left: 20px;
    border-radius: 50%;
} */

.formRow {
    position: relative;
    width: 100%;
}
.formRow--item {
    display: block;
    width: 100%;
}
.formRow--input {
    position: relative;
    padding: 15px 20px 11px;
    width: 100%;
    outline: none;
    border: solid 1px #95989a;
    border-radius: 4px;
    color: #2c3235;
    letter-spacing: 0.2px;
    font-weight: 400;
    font-size: 16px;
    resize: none;
    transition: all 0.2s ease;
}
.formRow--input-wrapper {
    position: relative;
    display: block;
    width: 100%;
}
.formRow--input-wrapper.active .placeholder {
    top: -5px;
    background-color: #fff;
    color: #fd999a;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-size: 11px;
    line-height: 14px;
    transform: translateY(0);
}
.formRow--input-wrapper.active .formRow--input:not(:focus):not(:hover) ~ .placeholder {
    color: #fec8c9;
}
.formRow--input-wrapper .formRow--input:focus, .formRow--input-wrapper .formRow--input:hover {
    border-color: #fd999a;
}
.formRow .placeholder {
    position: absolute;
    top: 50%;
    left: 10px;
    display: block;
    padding: 0 10px;
    color: #95989a;
    white-space: nowrap;
    letter-spacing: 0.2px;
    font-weight: normal;
    font-size: 16px;
    transition: all, 0.2s;
    transform: translateY(-50%);
    pointer-events: none;
    user-select: none;
}
